
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -825px; /* the bottom margin is the negative value of the footer's height */
}
.footer {
	height: 25px; /* .push must be the same height as .footer */
}

#loginWithBot{
    margin-top: 100px;
    margin-bottom: 200px;
}

#loginWithoutBot{
    margin-top: 100px;
}

th.td-actions{
    width: 215px;
}

.price:after
{ 
    content:"€";
}

#map-canvas{
    width:550px;
    height:300px; 
    visibility: visible;
}
.extraTop{
    padding-top: 20px;
}
.extraBot{
    padding-bottom: 50px;
}
.disable{    
    color: rgba(0, 154, 255, 0.54);                          
    pointer-events: none;
    cursor: default;
}
.active{
    text-decoration: underline;
}
.searchCustom{
    margin-left: -10px;
}
.searchCustom:focus{
    border-color: #2D78E9;
    -webkit-box-shadow: 0 0 6px #2D78E9;
    -moz-box-shadow: 0 0 6px #2D78E9;
    box-shadow: 0 0 6px #2D78E9;
}
.searchCustom:focus:invalid{
    border-color: #2D78E9;
    -webkit-box-shadow: 0 0 6px #2D78E9;
    -moz-box-shadow: 0 0 6px #2D78E9;
    box-shadow: 0 0 6px #2D78E9;
}
.searchCustom:focus:invalid:focus{
    border-color: #2D78E9;
    -webkit-box-shadow: 0 0 6px #2D78E9;
    -moz-box-shadow: 0 0 6px #2D78E9;
    box-shadow: 0 0 6px #2D78E9;
}

input, textarea, select{
    margin-left: -10px;
    width: 175px;
}
input:focus{
    border-color: #2D78E9;
    -webkit-box-shadow: 0 0 6px #2D78E9;
    -moz-box-shadow: 0 0 6px #2D78E9;
    box-shadow: 0 0 6px #2D78E9;
}
input:focus:invalid{
    border-color: #2D78E9;
    -webkit-box-shadow: 0 0 6px #2D78E9;
    -moz-box-shadow: 0 0 6px #2D78E9;
    box-shadow: 0 0 6px #2D78E9;
}
input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus {
    border-color: #2D78E9;
    -webkit-box-shadow: 0 0 6px #2D78E9;
    -moz-box-shadow: 0 0 6px #2D78E9;
    box-shadow: 0 0 6px #2D78E9;
}
.btn-warning{    
    margin-left: -10px;
}

.extraLeft{
    margin-left: 20px;
}


body .modal{
    margin-top: 150px;
}

.floatLeft .formItem{
    float: left;
    display: block;
    width: 225px;
    height: 120px;
}
.Descr{
    padding-top: 275px;
}
.mcs-custom{
    margin-left: 0px;
    width: 1090px;
    height: 250px;
}

.extra{
   bottom:0;
   width:100%;
}
.footer{
   bottom:0;
   width:100%;
}

